Repository zk020106/admin-components: changes, and which lefthook commands are due for each by the changed paths.
All: lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.{js,ts}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{styl,html,vue,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: package.json
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

chore: add server config
  vite.config.mts
Due: none

chore: add iconify icon
  src/components/icons.ts
  src/lib/icon.ts
Due: lint-js

chore: add axios
  package.json
  pnpm-lock.yaml
Due: lint-package

chore: change icon button size
  src/components/toggle-language.vue
Due: lint-vue, lint-style

chore: remove vite public assets warning
  src/views/auth/index.vue
Due: lint-vue, lint-style

chore: storage vite env variable
  .env.development
  src/types/env.d.ts
Due: lint-js

chore: add axios wrapper
  src/lib/axios/index.ts
  src/lib/axios/options.ts
  src/lib/axios/shared.ts
  src/types/request.d.ts
Due: lint-js

chore: add captcha api
  src/apis/captcha.ts
  src/lib/request.ts
  src/types/api.d.ts
  src/views/auth/components/account-login.vue
  src/views/auth/index.vue
Due: lint-vue, lint-js, lint-style

fix: export RequestOption from request typo
  src/lib/axios/options.ts
Due: lint-js

build: add production api
  .env.production
Due: none

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: lint-package

chore: fix captcha code overlay
  pnpm-lock.yaml
  src/App.vue
  src/components/icons.ts
  src/views/_core/fallback/not-found.vue
  src/views/auth/components/account-login.vue
Due: lint-vue, lint-js, lint-style

lint: fix
  src/views/_core/fallback/not-found.vue
  src/views/auth/components/account-login.vue
Due: lint-vue, lint-style

fix: eslint and prettier lint conflict
  eslint.config.mjs
  src/views/auth/components/account-login.vue
Due: lint-vue, lint-style

constants: 新增全局常量定义
  src/constants/globals.ts
  src/constants/index.ts
Due: lint-js

stores: 新增状态管理模块
  src/stores/index.ts
  src/stores/modules/access.ts
  src/stores/modules/index.ts
  src/stores/modules/tabbar.ts
  src/stores/setup.ts
Due: lint-js

ui: 新增滚动区域组件
  src/components/ui/scroll-area/ScrollArea.vue
  src/components/ui/scroll-area/ScrollBar.vue
  src/components/ui/scroll-area/index.ts
  src/components/ui/scrollbar/index.ts
  src/components/ui/scrollbar/scrollbar.vue
Due: lint-vue, lint-js, lint-style

chore: 更新项目依赖配置
  package.json
  pnpm-lock.yaml
Due: lint-package

chore: update field group style
  src/components/ui/field/index.ts
Due: lint-js

chore: add zod to be validator
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: lint-js, lint-package

chore: add login validation
  src/views/auth/components/account-login.vue
Due: lint-vue, lint-style

fix: devtools don't work
  package.json
  plugins/index.ts
  pnpm-lock.yaml
  src/router/routers/core.ts
Due: lint-js, lint-package
